body {
    margin-top: 50px;
    margin-left:100px;
    background:#1F2937
}
h1{
    color:white;
    font-weight: bolder;
}
.text{
    color:#A7F3D0;
}

h3{
    color:#D5D4D8;
    font-weight:lighter
}
p {
  background: #273549;
  padding: 10px 20px;
  border-radius: 4px;
  width: fit-content;   
  color: white;
  margin-top: 50px;  
}
p:empty {
  display: none;
}

button{
    width:250px;
    height:50px;
    color:white;
    background:#10B981;
    font-weight: lighter;
    font-style:normal;
    border-radius: 8px;
    font-size: 16px;
    size: 100px;
}