body {
    margin-top: 50px;
    margin-left:100px;
    background:#1F2937
}

p {
  background: #273549;
  padding: 10px 20px;
  border-radius: 4px;
  width: fit-content;   /* CSS3 */
  color: white;
  margin-top: 50px;  
}
p:empty {
  display: none;
}

button{
    width:300px;
    height: 70px;
    color:white;
    background:#10B981;
    font-weight: 2;
    font-style:normal;
    border-radius: 8px;
    font-size: medium;
    size: 100px;
}